/* Just to set some basics for the overall page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make mobile nav using pseudo classes and elements */
/* Add the webpages and experiment with flexbox */
/* Add more pseudo elements */

/* Sets all text to this default color */
body {
    color: #3B2E2B;
    cursor: default;
}

/* This is to position the nav icon elements in the corner of the page */
/* .navIcon {
    position: absolute;
    top: 35px;
    right: 40px;
} */


/* This hides the real checkbox */
.navIcon .noCheck {
    opacity: 100;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 3;
    opacity: 0;
}

/* This is the custom checkbox in the corner */
.navIcon .checkbox-custom {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    z-index: 2;
}

/* This is styling the content that appears */
.navIcon .navBG {
    width: 100%;
    height: 100%;
    background-color: rgb(216, 216, 216);
    position: absolute;
    display: none;
    z-index: 100;
    transition: all 100ms ease-in-out;
}

/* When the checkbox is checked, the content is displayed */
.navIcon .noCheck:checked + .navBG {
    display: block;
}

/* Main element for for the title sequence */
.titleSeq {
    height: 50%;
}

/* The container that holds the text inside the title sequence */
.titleSeq article {
    text-align: center;
    padding: 70px 0;
    width: 70%;
    margin: auto;
    height: 100%;
    position: relative;
}

/* Styling the main header of the page */
.titleSeq h2 {
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    position: relative;
    transition: all 100ms ease-in-out;
}

/* Below is some pseudo code that switches the title color */
.colorText {
    display: none;
    color: #F8D279;
    transition: all 100ms ease-in-out;
}

.titleSeq h2:hover + .colorText {
    display: block;
}

.titleSeq h2:hover {
    display: none;
}




/* Styling the sub title of the page */
.titleSeq p {
    font-family: 'Rubik', sans-serif;
    padding: 15px;
    opacity: 50%;
}

/* Basic six grid layout */
.gridBoxes {
    display: grid;
    grid-template: repeat(2, 2fr) / repeat(3, 2fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/* When the boxes are clicked on the opacity is set to 0 */
.boxNmate:active {
    opacity: 0%;
}

/* To stylize the grid boxes inside the grid */
.gridBoxes a {
    background-color: rgba(0, 0, 0, 0.034);
    border-radius: 30px;
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
    box-shadow: 10px 10px 20px #bc553b00;
    transition: all 100ms ease-in-out;
    text-decoration: none;
    color: #3B2E2B;
}

.gridBoxes a:hover {
    box-shadow: 5px 5px #3b2e2b2a;
    background-color: white;
}

/* The content inside the grid boxes */
.gridBoxes aside {
    width: 85%;
    height: 50%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Rubik', sans-serif;
}

aside img {
    width: 28%;
    image-rendering: crisp-edges;
    
}

/* The padding to the text elements */
.gridBoxes h5,
p {
    padding: 8px 0px;
    position: relative;
}

/* Styling the paragraph elements inside the grid boxes */
.gridBoxes p {
    font-size: 14px; 
    opacity: 50%;
    line-height: 20px;
}

@media screen and (max-width: 1100px) {
    /* This is to change the grid at this screen width */
    .gridBoxes {
        grid-template: repeat(3, 1fr) / 1fr 1fr;
    }
}

@media screen and (max-width: 730px) {
    /* This is to change the grid at this scren width */
    .gridBoxes {
        grid-template: repeat(6, 1fr) / 1fr;
    }
}

@media screen and (max-width: 400px) {
    /* Sets the size of the header text to a responsive size */
    .titleSeq h2 {
        font-size: 7vw;
    }
    .titleSeq p,
    .gridBoxes p {
        font-size: 4vw;
    }  
}




