/* Just to set some basics for the overall page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main element for for the title sequence */
.titleSeq {
    height: 200px;
}

/* The container that holds the text inside the title sequence */
.titleSeq article {
    text-align: center;
    padding: 70px 0;
    width: 600px;
    margin: auto;
    height: 100%;
}

/* Basic six grid layout */
.gridBoxes {
    display: grid;
    grid-template: repeat(2, 2fr) / repeat(3, 2fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 70%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    justify-content: space-between;
}

/* To stylize the grid boxes inside the grid */
.gridBoxes article {
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
}

/* The content inside the grid boxes */
.gridBoxes aside {
    width: 85%;
    margin: auto;
    text-align: center;
}

