/* Just to set some basics for the overall page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main element for for the title sequence */
.titleSeq {
    height: 200px;
}

/* The container that holds the text inside the title sequence */
.titleSeq article {
    text-align: center;
    width: 300px;
    margin: auto;
    border: 1px solid black;
    height: 100%;
}

/* Basic six grid layout */
.gridBoxes {
    display: grid;
    grid-template: repeat(2, 300px) / repeat(3, 300px);
    row-gap: 20px;
    column-gap: 20px;
    border: 1px solid black;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* To stylize the grid boxes inside the grid */
.gridBoxes article {
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
}

/* The content inside the grid boxes */
.gridBoxes aside {
    width: 85%;
    margin: auto;
    text-align: center;
}

